.canvas-toolbar {
  width: 100%;
}
.slide-list {
  width: 15%;
  height: 100%;
  vertical-align: top;
}
.layouts-list {
  height: 100%;
  width: 15%;
  display: inline-block;
  vertical-align: top;
}
.canvas-slide {
  margin-top: 2px;
  width: 68%;
  display: inline-block;
  background-color: lightgrey;
  vertical-align: top;
}
