{{canvas-toolbar handleClick = (action 'handleToolbarButton')
onColor = (action 'handleToolbarColor')
}}
{{slide-list-component
slides=model.slides
handleSlideClick = (action 'handleSlideClick')
addEmptySlide = (action 'addEmptySlide')
removeSlide = (action 'removeSlide')}}
<div class="canvas-slide">
  {{outlet}}
</div>
{{layouts-list
   layouts=model.layouts
  clickLayout=(action 'handleLayoutClick')}}
