<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 toolbar">
      {{canvas-toolbar handleClick = (action 'handleToolbarButton')
        onColor = (action 'handleToolbarColor')
      }}
      <h2 class="pull-right">Welcome, User, to Ember Slides!</h2>
    </div>
    <div class="col-md-2">
      {{slide-list-component
      slides=model.slides
      handleSlideClick = (action 'handleSlideClick')}}
    </div>
    <div class="col-md-8">
      {{outlet}}
    </div>
    <div class="col-md-2">
      {{layouts-list
      layouts=model.layouts
      clickLayout=(action 'handleLayoutClick')}}
    </div>
  </div> 
</div>


