{{#ember-dragula config=dragulaconfig drop='onDrop'}}
  {{#ember-dragula-container }}
    {{#each slides as |slideItem index|}}
      {{slide-single-component
        setIndex=index
        handleSlideClick=(action 'handleSlideClick' slideItem)
        handleSlideRemoveClick=(action removeSlide slideItem)
        isSelected=(eq slideItem selectedSlide)}}
    {{/each}}
  {{/ember-dragula-container }}
{{/ember-dragula }}

<div class="wraper-add-button">
  {{#button-image click =(action addEmptySlide) class="btn-add"}}
    <i class="fa fa-plus-square-o" aria-hidden="true"></i>
  {{/button-image}}
</div>
