{{#ember-dragula config=dragulaconfig drop='onDrop'}}
  {{#ember-dragula-container }}
    {{#each slides as |slideItem index|}}
      {{slide-single-component
        setIndex=index
        handleSlideClick=(action 'handleSlideClick' slideItem)
        handleSlideRemoveClick=(action removeSlide slideItem)
        isSelected=(eq slideItem selectedSlide)}}
    {{/each}}
  {{/ember-dragula-container }}
{{/ember-dragula }}
<div>
  {{button-image imgUrl = 'assets/slide/add.png' click =(action addEmptySlide)}}
</div>
