@mixin transform($deg) {
  -webkit-transform: rotate($deg);
  -moz-transform: rotate($deg);
  -o-transform: rotate($deg);
  -ms-transform: rotate($deg);
  transform: rotate($deg);
}

.canvasBox {
  position: relative;
  width: 100%;
  min-height: 620px;
  border: 1px solid #ccc;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
}

.canvasBox img, .canvasBox div[contenteditable] {
  position: absolute;
}

.canvasBox:before, .canvasBox:after {
  @include transform(-3deg);
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
}

.canvasBox:after {
  @include transform(3deg);
  right: 10px;
  left: auto;
}