<span  class="id-slide" >{{plus-one setIndex}}</span>
{{button-image imgUrl = '../assets/slide/slide.png' click =(action 'handleSlideClick' slideSelected)}}
{{button-image imgUrl = '../assets/slide/remove.png' click =(action 'handleSlideRemoveClick')}}
