.sp-replacer {
  margin: 0;
  overflow: hidden;
  cursor: pointer;
  padding: 15px 10px 14px!important;
  display: inline-block;
  border: none!important;
  background: transparent !important;
  color: #333;
  vertical-align: top!important;
}